html {
  scroll-behavior: smooth;
  font-family: 'scroll-behavior: smooth', /* user defined fonts */;
}
body {
  background-color: hsl(230, 1%, 98%);
  font-family: "Inconsolata", monospace;
  /* padding-top: 70px; */
  /* -webkit-font-smoothing: antialiased; */
  font-size: 18px;
  width: 100%;
  position: relative
}

html, body {
  overflow-x: hidden;
}

.help {
  width: 100%;
  height: 100vh;
}


.navbar {
  background-color: hsl(230, 1%, 98%);
}

.navbar-brand {
  color: #333333;
  font-family: "Karla", sans-serif;
}


.list-bar.please:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 51px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: hsl(224, 14%, 15%);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 3px;
}

.list-bar.active:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 51px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: #9585a0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 3px;
}

#menu-imp ul{
  list-style: none;
  margin-left: -40px;
}

#menu-imp li{
  display: inline;
}

.down-about {
  margin-left: 200px;
  margin-top: 40px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.down-about-icon:hover {
  color: rgb(189, 189, 189);
}


.menu-item-line {
  font-weight: 100
}

.menu-item {
  color: gray
}

a.list-resume:hover {
  outline: none;
  text-decoration: none;
  color: #78A386;
}

a.list-linkedin:hover {
  outline: none;
  text-decoration: none;
  color: rgb(106, 141, 202);
}

a.list-github:hover {
  outline: none;
  text-decoration: none;
  color: #52535c;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

div {
  display: block;
}

a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  /* display: block;
  list-style-type: disc; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.name {
  font-family: "Karla", sans-serif;
  color: hsl(230, 8%, 24%);
  font-weight: 900;
}

.lattice {
  color: #9585a0;
  /* background-color: #f2edf5; */
}

a {
  text-decoration: none;
  outline: none;
}

a.lattice:hover {
  outline: none;
  text-decoration: none;
  color: gray;
}

a.major:hover {
  outline: none;
  text-decoration: none;
  color: gray;
}

a.college:hover {
  outline: none;
  text-decoration: none;
  color: gray;
}

.major {
  color: #5e88ad;
}

.fade {
  margin: 50px;
  padding: 50px;
  opacity: 1;
}

.college {
  color: #e9ca86;
}

.about-jobs {
  line-height: 1.3em;
}

.icon {
  color: hsl(234, 7%, 27%);
  padding: 10px;
}

.icon:hover {
  text-decoration: none;
  color: #9585a0;
  transform: translateY(-3px);
}

.icon-bar {
  position: fixed;
  width: 40px;
  left: 25px;
  bottom: 0px;
}

.icon-bar-list {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.resume::after {
  content: "";
  display: block;
  width: 1px;
  height: 110px;
  background-color: hsl(230, 8%, 24%);
  position: relative;
  top: 28px;
  bottom: 0px;
  left: 17px;
}

.resume-two-bar.please::after {
  content: "";
  display: block;
  width: 1px;
  height: 110px;
  background-color: hsl(220, 14%, 71%);
  position: relative;
  top: 28px;
  bottom: 0px;
  left: 17px;
}

.icon {
  padding: 10px;
}

.icon icon-item {
  width: 18px;
  height: 18px;
}

.icon-item {
  fill: currentcolor;
  vertical-align: middle;
}

.rr:hover {
  color: #78A386 !important;
  outline: none;
  text-decoration: none;
}

.rr {
  font-family: "Karla", sans-serif; 
  color: #333333;
  margin-left: 8%;
  margin-right: 2%;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  font-size: 18px;
}

.nav-link {
  font-family: "Karla", sans-serif;
  color: #333333 !important;
}

/* a.nav-link.active {
  color: #856f94 !important;
  font-weight: 800 !important;
} */

.nav-link:hover {
  color: #856f94 !important;
  font-weight: 800 !important;
}

.techs {
  color: #9585a0;
}

.nav-link:hover {
  /* color: hsl(230, 1%, 98%); */
  color: hsl(230, 8%, 24%);
}

.desktop-foot {
  font-size: 12px;
  line-height: 1;
  margin: 10px 0px;
}

.social-mobile {
  color: hsl(230, 8%, 24%);
  width: 100%;
  display: none;
  max-width: 270px;
  margin: 0px auto 10px;
}

.social-mobile-links {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.foot-social {
  padding: 10px;
}

.link {
  color: rgb(136, 146, 176);
}
.link:hover {
  color: #9585a0;
  text-decoration: none;
}


.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.to-top:hover {
  text-decoration: none;
  color: #9585a0;
  transform: translateY(-5px);
}

.list-group-mine .list-group-item {
  border: none;
  background-color: hsl(230, 1%, 98%);
  color: hsl(230, 8%, 24%);
}

.list-group-mine .list-group-item:hover {
  color: #9585a0;
  background-color: rgb(236, 238, 243);
}

.list-group-mine .list-group-item.active {
  color: #9585a0;
  background-color: rgb(236, 238, 243);
  font-weight: 900;
}

.list-group-item.active:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 51px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: #9585a0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 3px;
}

.list-group-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 51px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: rgb(236, 238, 243);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 3px;
}

.list-group-mine .list-group-item:hover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 51px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: #9585a0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 3px;
}

.tab-content {
  position: relative;
  left: 30px;
  top: -1px;
}

.job {
  font-family: "Karla", sans-serif;
}

.me-img {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  padding-right: 10%;
  /* margin-top: 50px; */
}

.place {
  color: #9585a0;
}

.date {
  color: hsl(0, 0%, 33%);
}

.tab-pane ul li::before {
  content: ">";
  position: absolute;
  left: 0px;
  color: #9585a0;
  line-height: 24px;
}

.card-header {
  border: none;
}

.card-footer {
  border: none;
  font-size: 12px;
  color: hsl(0, 0%, 41%);
}

.card {
  background-color: rgb(236, 238, 243);
}

.card-title {
  font-family: "Karla", sans-serif;
  color: hsl(230, 8%, 24%);
  font-weight: 500;
}

.card {
  transition: transform ease 0.2s;
  max-width: 22rem;
  max-height: 20rem;
  font-size: 16px;
}

.card:hover {
  transform: translateY(-9px);
}

.p-head-foot:hover {
  color: #9585a0;
}

.p-head {
  margin-top: 20px;
  color: #9585a0;

  /* margin-left: 200px; */
}

.p-foot {
  margin-top: 4px;
  color: hsl(0, 0%, 41%);
}

.cs61b {
  color: hsl(0, 0%, 41%);
}

.cs61b:hover {
  text-decoration: none;
  color: #9585a0;
}

.card-subtitle {
  /* font-family: "Karla", sans-serif; */
  font-size: 14px;
}

.intro {
  padding-top: 20%;
  padding-bottom: 150px;
}

.cons {
  /* padding-top: 10%; */
  /* padding-bottom: 13%; */
}

.cons-about {
  padding-top: 13%;
  padding-bottom: 10%;
}

.bear {
  margin-top: -50px;
}

.projs {
  /* position: absolute; */
  padding-top: 10%;
}

.just-head {
  font-family: "Karla", sans-serif;
  font-weight: 900;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 28px;
  margin: 10px 0px 40px;
}

.just-head::after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  background-color: rgb(45, 57, 82);
  position: relative;
  margin-left: 20px;
}

.footer-head {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}

.footer-email {
  font-family: "Karla", sans-serif;
}

.footer-email:hover {
  cursor: pointer;
  color: #e59191 !important;
}

.footer-loc {
  color: gray;
  font-size: 13px;
  font-family: "Karla", sans-serif;
}

.footer-social ul{
  list-style: none;
  margin-left: -48px;
  padding-top: 14px;
}

.footer-social li{
  display: inline;
}

.foot-social {
  fill: rgb(182, 182, 182);
  padding: 9px;
  transition: 0.8s;
}

/* .foot-social:hover {

} */

.foot-linkedin:hover {
  fill: rgb(106, 141, 202); 
  opacity: 1;
}

.foot-spotify:hover {
  fill: rgb(102, 184, 130);
  opacity: 1
}

.foot-github:hover {
  fill: #52535c;
  opacity: 1
}

.heart {
  fill: #9585a0;
  padding-left: 0px;
}

.foot {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: right;
  flex-direction: column;
  background-color: hsl(230, 1%, 98%);
  color: hsl(230, 8%, 24%);
  text-align: center;
  height: auto;
  min-height: 70px;
  padding-top: 10%;
  padding-bottom: 5%;
  margin-right: 25px; 
}

.creds {
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 6px;
  text-align: right;
  margin-left: 40px;
}

.btn-group {
  display: none;
}

@media (max-width: 576px) { 
  /* ##### Front page ###### */ 
  .bear {
    margin-top: -20%;
  }

  .small-front {
    margin-top: -90%;
  }

  .navbar {
    margin-left: -20px; 
  }

  .name {
    font-size: 26px;
    text-align: center;
  }

  .smaller-mobile {
    font-size: 15px;
    text-align: center;
  }


  #menu-imp {
    margin-left: -20px;
  }

  .about-school {
    font-size: 12px;
    text-align: center;
  }
  
  .nav-item {
    display: none; 
  }

  .down-about {
    margin-left: 43%;
  }

  /* ##### About ###### */ 
  .small-about {
    font-size: 16px;
  }

  .small-img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .just-head {
    font-size: 24px;
  }

  .just-head-ish::after {
    content: "";
    display: block;
    height: 1px;
    width: 10%;
    background-color: rgb(45, 57, 82);
    position: relative;
    margin-left: 10px;
  }

  .foot {
    margin-right: 45px;
  }

  .list-group {
    display: none;
  }

  .job-desc {
    font-size: 14px;
  }

  .tab-pane {
    /* margin-right: 300px; */
  }

  .btn-group {
    display: block;
    text-align: center;
    margin-right: 20%;
    margin-top: 12%;
  }

  .job {
    font-size: 18px;
  }
}